@use '../utils/variables' as *;

.filter {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
  }

  &__group {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
    border: none;

    &--choices {
      column-gap: 64px;
    }
  }

  &__radio {
    position: absolute;
    appearance: none;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    column-gap: 4px;
    align-items: center;
    padding: 16px;
    background-color: $white;
    border: 1px solid transparent;
    border-radius: 300px;
    cursor: pointer;
    font-weight: 400;
    color: $dark;

    &::before {
      content: '';
      width: 40px;
      height: 40px;
    }

    &--flowers {
      &::before {
        background: url('/img/flowers.svg') no-repeat center/contain;
      }
    }

    &--toys {
      &::before {
        background: url('/img/bear.svg') no-repeat center/contain;
      }
    }

    &--postcards {
      &::before {
        background: url('/img/postcard.svg') no-repeat center/contain;
      }
    }

    &:hover {
      background-color: $orange;
    }
  }

  &__radio:focus-visible + &__label {
    outline: 2px solid $orange;
    outline-offset: 5px;
  }

  &__radio:checked + &__label {
    color: $white;
    background-color:  $light-orange;
  }

  &__select {
    display: flex;
    align-items: center;
    column-gap: 8px;

    &::after{
      content: '';
      width: 8px;
      height: 8px;
      background: url('/img/arrow-up.svg') no-repeat center/contain;
    }
  }

  &__input-price {
  }

  &__type-list {
  }

  &__type-item {
  }

  &__type-button {

  }
}
