@use '../variables' as *;

.filter {

  &__group {
    max-width: 475px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
    border: none;
  }

  &__radio {
    position: absolute;
    appearance: none;

    &:focus + label{
      background-color: $orange;
    }
  
    &:checked + label {
      color: $white;
      background-color:  $light-orange;
    }
  }

  &__label {
    position: relative;
    display: inline-block;
    padding: 24px 16px 24px 60px;
    background-color: $white;
    border: 1px solid transparent;
    border-radius: 300px;
    cursor: pointer;
    font-weight: 400;
    color: $dark;

    &::before {
      position: absolute;
      content: '';
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
    }

    &--flowers {
      &::before {
        background: url('/img/flowers.svg') no-repeat center/contain;
      }
    }

    &--toys {
      &::before {
        background: url('/img/bear.svg') no-repeat center/contain;
      }
    }

    &--postcards {
      &::before {
        background: url('/img/postcard.svg') no-repeat center/contain;
      }
    }

    &:hover {
      background-color: $orange;
    }
  }
}
