@use '../utils/variables' as *;
@use '../utils/media' as *;

.filter {
  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px 20px;
    flex-wrap: wrap;
  }

  &__group {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
    border: none;

    &--choices {
      column-gap: 64px;

      @include small {
        column-gap: 40px;
      }
    }

    @include small {
      gap: 8px;
      flex-wrap: wrap;
      justify-content: flex-start;

      &--choices {
        column-gap: 40px;
      }
    }
  }

  &__radio {
    position: absolute;
    appearance: none;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    column-gap: 4px;
    align-items: center;
    padding: 16px;
    background-color: $white;
    border: 1px solid transparent;
    border-radius: 300px;
    cursor: pointer;
    font-weight: 400;
    color: $dark;

    @include small {
      padding: 8px 12px;
    }

    &::before {
      content: '';
      width: 40px;
      height: 40px;

      @include small {
        width: 24px;
        height: 24px;
      }
    }

    &--bouquets {
      &::before {
        background: url('/img/flowers.svg') no-repeat center/contain;
      }
    }

    &--toys {
      &::before {
        background: url('/img/bear.svg') no-repeat center/contain;
      }
    }

    &--postcards {
      &::before {
        background: url('/img/postcard.svg') no-repeat center/contain;
      }
    }

    &:hover {
      background-color: $orange;
    }
  }

  &__radio:focus-visible + &__label {
    outline: 2px solid $orange;
    outline-offset: 5px;
  }

  &__radio:checked + &__label {
    color: $white;
    background-color:  $light-orange;
  }

  &__choices {
    position: relative;
  }

  &__select {
    display: flex;
    align-items: center;
    column-gap: 8px;

    &::after{
      content: '';
      width: 8px;
      height: 8px;
      background: url('/img/arrow-up.svg') no-repeat center/contain;
    }
  }

  &__choices-box {
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    background-color: $white;
    border-radius: 12px;
    padding: 24px;

    &--type {
      @include small {
        padding: 16px;
      }
    }
  }

  &__price {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
    border: none;
  }

  &__input-price {
    display: inline-block;
    width: 110px;
    height: 40px;
    padding: 8px 16px;
    background: $bg;
    border-radius: 32px;
    border: none;

    @include small {
      width: 90px;
      padding-top: 11px;
      padding-bottom: 11px;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.3;
      color: $dark;
    }
  }

  &__type-item {
    margin-bottom: 8px;
  }

  &__type-item:last-child {
    margin-bottom: 0;
  }

  &__type-button {
    white-space: nowrap;

    &:hover {
      color: $light-orange;
    }

    &--active {
      color: $orange;
    }
  }
}

