@use '../utils/variables' as *;
@use '../utils/media' as *;

.footer {
  padding: 80px 0;
  background: $footer url('/img/footer.svg') no-repeat;
  background-size: 100%;
  background-position: bottom;

  @include large {
    background-size: 1286px;
  }

  @include medium {
    padding: 60px 0;
    background-size: 966px;
  }

  @include small {
    background-size: 709px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    align-items: center;

    @include medium {
      row-gap: 40px;
    }
  }

  &__logo {
    width: 200px;
  }

  &__contacts {
    font-style: normal;
  }

  &__mail {
    display: inline-block;
    margin-bottom: 16px;
  }

  &__social-list {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    align-content: center;
  }

  &__developers-item {
    margin-bottom: 3px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__copyright {
    text-transform: uppercase;
  }
}
