@use '../variables' as *;

.header {
  padding: 32px 0;

  &__container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }

  &__logo {
    justify-self: center;
  }

  &__cart-btn {
    justify-self: end;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 28px;
    height: 28px;
    background: url('/img/cart.svg') no-repeat center/contain;
    color: $orange;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
  }
}
