@use '../utils/variables' as *;
@use '../utils/media' as *;


.subscribe {
  padding: 70px 0 140px;

  @include medium {
    padding: 50px 0 100px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin-bottom: 40px;
    color: $green;
    font-family: $second-family;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    @include medium {
      margin-bottom: 24px;
      font-size: 32px;
    }
  }
}
